.card{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   &__col{
      flex: 0 1 20%;
      text-align: center;
   }
   &__img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      margin: 0 0 15px 0;
   }
   &__name{

      display: block;

      // max-width: 150px;
   }
}