.card{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
  
   &__col{
      flex: 0 1 20%;
      text-align: center;
      padding: 10px 0;
      overflow: hidden;
      &.selected {
         border: 1px solid $blueColor;
      }
   }
   &__img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      margin: 0 0 15px 0;
      background-image: url('../../assets/img/spener.gif');
      background-position: center;
      background-size: 20px;
      background-repeat: no-repeat;
   }
   &__icon {
      @extend .card__img;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 15px auto;
      &::before{
         font-size: 60px;
         background-color: #fff;
      }
   
   }
   &__name{

      display: block;

      // max-width: 150px;
   }
   &__btn{
      display: block;
      margin: 0 auto 20px auto;
      text-align: center;
      &:hover{
         border-bottom: 1px solid $blueColor ;
      }
   }
}